[package]
name = "hello"
version = "0.1.0"
edition = "2021"

[dependencies]
corelib = { path = "../../ancient-runes/corelib" }

[profile.release]
opt-level = "z"
lto = true
strip = true
panic = "abort"
